* {
    font-family: "Comic Sans MS" !important;
}

body {
    font-family: Tahoma;
}

header {
    background-color: #a6e2e9;
    margin-bottom: 20px;
    padding: 1% 0% .5% 1%;
}

.column-1 {
    width: 48%;
    float: left;
    column-right: 2%;
    /* margin: 1%; */
}

.column-2 {
    width: 48%;
    float: right;
    /* margin: 1%; */
}

footer {
    background-color: #a6e2e9;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 20px;
    padding: 1% 0% .5% 1%;
}